{% extends "band/base.html" %}
{% load static %}
{% block title %}
About the Late Boomers Oldies Rock Band
{% endblock%} 
<div class="container">
    {% block content %}
    <center>
    <h1>About Our Band</h1>
    <p>   The Late Boomers Band was founded in Allen, 
        Texas to bring old time classic rock music back to live performances. 

        If you have an event and would like live classic rock n roll music, 
        The Late Boomers Band is the band for your celebration.  Please reach out 
    to us via the Contact link below.</p>
    Musicians: 

<table class="wwstdtable" style="width:400px">
    <tr><th>Name</th><th>Instrument(s)</th></tr>
    {% for musician in musicians %}
        <tr>
            <td><a href="{% url 'bio_page' musician.id %}">{{ musician.name }}</a></td>
            <td>{{ musician.instrument }}</td>
        </tr>
    {% endfor %}
</table>
</center>
</div>
    {% endblock %}

