{% extends "band/base.html" %}
{% load static %}
{% block title %}
{{ musician.name }}
{% endblock%} 
<div class="container">
    {% block content %}
    <center>
        <h1>Upcoming Events</h1>
        <table class="wwstdtable">
            {% for event in events %}
            <tr>
                <td><h2>{{ event.name }}</h2>
                <td><p>{{ event.date }} - {{ event.location }}</p></td>
                <td><p>{{ event.description }}</p></td>
                </tr>
        {% endfor %}
    </table>
</center>
        {% endblock %}
</div>
