
{% extends "band/base.html" %}
{% load static %}
{% block title %}
Oldies Rock Band
{% endblock%} 
<div class="container">
    {% block content %}
    <center>
       <h1>Welcome to Our Band's Website!</h1>
    <p>Enjoy the classic rock experience.</p>
    <a href="{% url 'about_page' %}">About Us</a> | 
    <a href="{% url 'music_page' %}">Music</a> | 
    <a href="{% url 'calendar_page' %}">Calendar</a> | 
    <a href="{% url 'contact_page' %}">Contact</a>
    {% endblock %}
    </center>
</div>
