{% extends "band/base.html" %}
{% load static %}
{% block title %}
Our Music
{% endblock%} 
<div class="container">
    {% block content %}
    <center>
    <h1>Our Recordings</h1>
    <ul>
        {% for clip in audio_clips %}
            <li>
                <h2>{{ clip.title }}</h2>
                <p>{{ clip.description }}</p>
                <audio controls>
                    <source src="{{ clip.audio_file.url }}" type="audio/mpeg">
                </audio>
            </li>
        {% endfor %}
    </ul>
</center>
    {% endblock %}
</div>
