__pycache__/
*.zip
*.old
*.pyc
*.pyo
*.pyd
*.json
node_modules/
venv/
media/
db.sqlite3
db.sqlite3.backup
.env
.dot
.svg
staticfiles/
static/temp_dirs/
static/js/
static/html/
static/admin/
static/css/
static/images/
.json
start.log
backup.iso
articles/logs/
